## Problem Statement- 3

# Kerala rainfall flood analysis

~ Write a Python program to load the “kerala.csv” data into a DataFrame and perform the following tasks: 

1.Explore the DataFrame using info() and describe() functions

2.June and July are the peak months of rainfall. Consider that if it rains more than 500mm, then chances of flood become more; create a Datarame with columns –“YEAR”,  “JUN_GT_500” (Contains a boolean value to show whether it rained more than 500 mm in the month of June) , “JUL_GT_500” (Contains a boolean value to show whether it rained more than 500 mm in the month of July), and “FLOODS” (Contains a boolean value to show whether it flooded that year)

3.Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))

4.Calculate the probability of rain more than 500 mm in June, given it flooded that year (P(B|A))

5.Probability of flood given it rained more than 500 mm in July

6.Probability of rain more than 500 mm in July given it flooded that year (P(B|A))

In [1]:
import pandas as pd
#import the kerala.csv file
data= pd.read_csv("Kerala.csv")
print(data)

    SUBDIVISION  YEAR   JAN   FEB   MAR    APR    MAY     JUN     JUL     AUG  \
0        KERALA  1901  28.7  44.7  51.6  160.0  174.7   824.6   743.0   357.5
1        KERALA  1902   6.7   2.6  57.3   83.9  134.5   390.9  1205.0   315.8
2        KERALA  1903   3.2  18.6   3.1   83.6  249.7   558.6  1022.5   420.2
3        KERALA  1904  23.7   3.0  32.2   71.5  235.7  1098.2   725.5   351.8
4        KERALA  1905   1.2  22.3   9.4  105.9  263.3   850.2   520.5   293.6
..          ...   ...   ...   ...   ...    ...    ...     ...     ...     ...
113      KERALA  2014   4.6  10.3  17.9   95.7  251.0   454.4   677.8   733.9
114      KERALA  2015   3.1   5.8  50.1  214.1  201.8   563.6   406.0   252.2
115      KERALA  2016   2.4   3.8  35.9  143.0  186.4   522.2   412.3   325.5
116     KERALA   2017   1.9   6.8   8.9   43.6  173.5   498.5   319.6   531.8
117      KERALA  2018  29.1  52.1  48.6  116.4  183.8   625.4  1048.5  1398.9

       SEP    OCT    NOV    DEC   ANNUAL RAINFALL FLOODS
0    197.7  266.9  350.8   48.4            3248.6    YES
1    491.6  358.4  158.3  121.5            3326.6    YES
2    341.8  354.1  157.0   59.0            3271.2    YES
3    222.7  328.1   33.9    3.3            3129.7    YES
4    217.2  383.5   74.4    0.2            2741.6     NO
..     ...    ...    ...    ...               ...    ...
113  298.8  355.5   99.5   47.2            3046.4    YES
114  292.9  308.1  223.6   79.4            2600.6     NO
115  173.2  225.9  125.4   23.6            2176.6     NO
116  209.5  192.4   92.5   38.1            2117.1     NO
117  423.6  356.1  125.4   65.1            4473.0    YES

[118 rows x 16 columns]

In [2]:
df1 = pd.DataFrame(data)
print(df1)

    SUBDIVISION  YEAR   JAN   FEB   MAR    APR    MAY     JUN     JUL     AUG  \
0        KERALA  1901  28.7  44.7  51.6  160.0  174.7   824.6   743.0   357.5
1        KERALA  1902   6.7   2.6  57.3   83.9  134.5   390.9  1205.0   315.8
2        KERALA  1903   3.2  18.6   3.1   83.6  249.7   558.6  1022.5   420.2
3        KERALA  1904  23.7   3.0  32.2   71.5  235.7  1098.2   725.5   351.8
4        KERALA  1905   1.2  22.3   9.4  105.9  263.3   850.2   520.5   293.6
..          ...   ...   ...   ...   ...    ...    ...     ...     ...     ...
113      KERALA  2014   4.6  10.3  17.9   95.7  251.0   454.4   677.8   733.9
114      KERALA  2015   3.1   5.8  50.1  214.1  201.8   563.6   406.0   252.2
115      KERALA  2016   2.4   3.8  35.9  143.0  186.4   522.2   412.3   325.5
116     KERALA   2017   1.9   6.8   8.9   43.6  173.5   498.5   319.6   531.8
117      KERALA  2018  29.1  52.1  48.6  116.4  183.8   625.4  1048.5  1398.9

       SEP    OCT    NOV    DEC   ANNUAL RAINFALL FLOODS
0    197.7  266.9  350.8   48.4            3248.6    YES
1    491.6  358.4  158.3  121.5            3326.6    YES
2    341.8  354.1  157.0   59.0            3271.2    YES
3    222.7  328.1   33.9    3.3            3129.7    YES
4    217.2  383.5   74.4    0.2            2741.6     NO
..     ...    ...    ...    ...               ...    ...
113  298.8  355.5   99.5   47.2            3046.4    YES
114  292.9  308.1  223.6   79.4            2600.6     NO
115  173.2  225.9  125.4   23.6            2176.6     NO
116  209.5  192.4   92.5   38.1            2117.1     NO
117  423.6  356.1  125.4   65.1            4473.0    YES

[118 rows x 16 columns]

In [3]:
df1.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [4]:
# Explore DataFrame
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB
None

In [5]:
print(df1.describe())

              YEAR         JAN         FEB         MAR         APR  \
count   118.000000  118.000000  118.000000  118.000000  118.000000
mean   1959.500000   12.218644   15.633898   36.670339  110.330508
std      34.207699   15.473766   16.406290   30.063862   44.633452
min    1901.000000    0.000000    0.000000    0.100000   13.100000
25%    1930.250000    2.175000    4.700000   18.100000   74.350000
50%    1959.500000    5.800000    8.350000   28.400000  110.400000
75%    1988.750000   18.175000   21.400000   49.825000  136.450000
max    2018.000000   83.500000   79.000000  217.200000  238.000000

              MAY          JUN          JUL          AUG         SEP  \
count  118.000000   118.000000   118.000000   118.000000  118.000000
mean   228.644915   651.617797   698.220339   430.369492  246.207627
std    147.548778   186.181363   228.988966   181.980463  121.901131
min     53.400000   196.800000   167.500000   178.600000   41.300000
25%    125.050000   535.550000   533.200000   316.725000  155.425000
50%    184.600000   625.600000   691.650000   386.250000  223.550000
75%    264.875000   786.975000   832.425000   500.100000  334.500000
max    738.800000  1098.200000  1526.500000  1398.900000  526.700000

              OCT         NOV         DEC   ANNUAL RAINFALL
count  118.000000  118.000000  118.000000        118.000000
mean   293.207627  162.311017   40.009322       2925.405085
std     93.705253   83.200485   36.676330        452.169407
min     68.500000   31.500000    0.100000       2068.800000
25%    222.125000   93.025000   10.350000       2613.525000
50%    284.300000  152.450000   31.100000       2934.300000
75%    355.150000  218.325000   54.025000       3170.400000
max    567.900000  365.600000  202.300000       4473.000000

In [6]:
data2 = {
    "YEAR": [1901, 1902, 1903, 1904, 1905],
    "JUN_GT_500": [1, 0, 1, 1, 1],
    "JUL_GT_500": [1, 1, 1, 1, 1],
    "FLOODS": [1, 1, 1, 1, 0],
    "COUNT":[1,1,1,1,1]
}
df2 = pd.DataFrame(data2)
print(df2)

   YEAR  JUN_GT_500  JUL_GT_500  FLOODS  COUNT
0  1901           1           1       1      1
1  1902           0           1       1      1
2  1903           1           1       1      1
3  1904           1           1       1      1
4  1905           1           1       0      1

In [7]:
P_A_given_B_june = df2[(df2["JUN_GT_500"] == 1) & (df2["FLOODS"] == 1)].shape[0] / df2[df2["JUN_GT_500"] == 1].shape[0]

# Print probabilities
print("Probability of flood given it rained more than 500 mm in June (P(A|B)):")
print("P(Flood|June):", P_A_given_B_june)

Probability of flood given it rained more than 500 mm in June (P(A|B)):
P(Flood|June): 0.75

In [8]:
P_B_given_A_june = df2[(df2["JUN_GT_500"] == 1) & (df2["FLOODS"] == 1)].shape[0] / df2[df2["FLOODS"]==1].shape[0]
print("Probability of rain more than 500 mm in June given it flooded that year (P(B|A)):")
print("P(June|Flood):", P_B_given_A_june)

Probability of rain more than 500 mm in June given it flooded that year (P(B|A)):
P(June|Flood): 0.75

In [9]:
P_A_given_B_july = df2[(df2["JUL_GT_500"] == 1) & (df2["FLOODS"] == 1)].shape[0] / df2[df2["JUL_GT_500"] == 1].shape[0]
print("Probability of flood given it rained more than 500 mm in July:")
print("P(Flood|July):", P_A_given_B_july)

Probability of flood given it rained more than 500 mm in July:
P(Flood|July): 0.8

In [10]:
P_B_given_A_july = df2[(df2["JUL_GT_500"] == 1) & (df2["FLOODS"] == 1)].shape[0] / df2[df2["FLOODS"] == 1].shape[0]
print("Probability of rain more than 500 mm in July given it flooded that year (P(B|A)):")
print("P(July|Flood):", P_B_given_A_july)

Probability of rain more than 500 mm in July given it flooded that year (P(B|A)):
P(July|Flood): 1.0